<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Page</title>
</head>
<body>
    <style>
        /* CSS Here */
    </style>
   
    <form id = "create_room" action = "/create_room" method="POST">
        <input id = "create_room_id" name = "create_room_id">
        <button type = "submit"> Create Room </button> 
    </form>

    <form id = "join_room" action = "/join_room" method = "POST">
        <input id = "join_room_id" name = "join_room_id">
        <button type = "submit"> Join Room </button> 
    </form>

</body>
</html>